.container {
  color: #fff;
  max-width: 500px;
  margin: auto;
  
}
body {
  background: #313131;
  background-image: url("galaxy.jpg");
  background-repeat:repeat;
  background-size:cover;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}
.list ul li button {
  position: absolute;
  right: 0%;
  background: #f34541;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 0.4rem;
  display: inline-block;
  border: none;
  width: 80px;
  height: 30px;
  
  
}
.list ul li {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fcf9f9;
  background-color: transparent;
  line-height: 30px;
  
  
  
  padding: 10px;
  position: relative;
}
h2{
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #cccccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
